body {
    margin: 10px;
    background-color: tomato;
    color: white;
    font-family: monospace;
}

.dbCont {
    position: absolute;
    top: 10rem;
    height: 40svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputForm {
    top: 5rem;
    position: absolute;
}